*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: AndaleMono, monospace;
  font-weight: medium;
}

body {
  color: cyan;
  background-color: black;
}

#fcctest {
  display: none;
  height: 50px;
  width: 100%;
  background-color: grey;
}

#wrapper {
  display: grid;
  height: 90vh;
  min-height: 275px;
  width: fit-content;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 50% 20%;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
}

#wrapper.mode-change{
  background-color:purple;
  transition: background-color 500ms;
}

button {
  width: 80%;
  min-height: 40px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px lightgray;
  font-size: 2em;
  font-weight: bold;
  border: 2px solid rgb(79, 255, 25);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%);
  color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  box-shadow: 0px 3px 10px 5px magenta;
}

#timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row: 2/3;
  margin: 5px;
  padding: 5px;
}

#timer-label {
  font-size: 2em;
}

#time-left {
  font-size: 5em;
}

#session-wrapper, #break-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 5px;
  white-space: nowrap;
}

#break-length, #session-length {
  font-size: 2em;
}

#button-wrapper {
  grid-column: 1 / span 2;
  grid-row: 3/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#start_stop,
#reset {
  margin: 0px 10px;
  height: 100%;
  flex-direction: column;
}

@media only screen and (max-height: 560px) {
  button {
    height: 50%;
    margin: 0px 10px;
  }

  #break-length,
  #session-length {
    font-size: 2em;
    flex: 1.5 0;
    text-align: center;
  }

  #session-wrapper,
  #break-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    white-space: normal;
  }

  #break-label,
  #session-label {
    font-size: 1.25em;
    flex: 1.5 0;
    padding: 5px;
    margin: 5px;
  }

  #time-left {
    font-size: 4em;
  }
}

@media only screen and (min-height: 768px) {
  button {
    height: 80%;
    margin: 5px;
  }

  #break-length,
  #session-length {
    font-size: 2.5em;
  }
}